@model Webdaugia.Models.User
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<form id="member-login" action="/Login/DangNhap" method="post" class="form-validate form-horizontal well" enctype="multipart/form-data">
    <input class="form-control"
           type="text"
           name="username"
           placeholder="Tên đăng nhập"
           required />
    <input class="form-control"
           type="password"
           name="password"
           placeholder="Mât khẩu"
           required />
    <div class="form-button">
        <button id="submit" type="submit" class="ibtn">
            Đăng nhập
        </button>
        <a href="forget.html">Quên mật khẩu?</a>
    </div>
</form>
