@model Webdaugia.Models.Login.LoginModel
@{
    ViewBag.Title = " - Đăng nhập";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="page-links">
    <a href="~/dang-nhap" class="active">Đăng nhập</a><a href="~/dang-ki">Đăng ký</a>
</div>
<div class="text-danger" style="height:24px">
    @Html.ValidationSummary()
</div>
@using (Html.BeginForm("DangNhap", "Login", FormMethod.Post))
{
<div class="form_control">
    @*@Html.TextBoxFor(model => model.Username)*@
    <input name="Username" type="text" placeholder="Tên đăng nhập" />
   
</div>
<div class="form_control">
    @*@Html.TextBoxFor(model => model.Password)*@
    <input name="Password"  type="password" placeholder="Mật khẩu" />
    @*<div class="input-group-append cursor-pointer">
            <span class="input-group-text">
                    <i class="fa fa-eye"></i>
                </span>
        </div>*@
   
</div>
<div class="row mt-10 mx-0">

    <button type="submit" class="col-12 col-md-6 align-items-center justify-content-center px-0 mx-0 btn btn-primary" id="loading">Đăng Nhập</button>

    <div class="col-12 col-md-6 align-items-center justify-content-center px-0 mx-0 btn " style="background-color:white;">
        <a class="" style="background-color:white;" href="~/Login/Quenmatkhau">Quên mật khẩu?</a>
    </div>
 

</div>

}
